body{
  background: #343d46;
}

.container {
  background: #343d46;
  font-family: "Courier New";
  color: white;
}

.results-title {
  font-size: 50px;
}

.results {
  color: white;
  font-size: 20px;
}

.box{
  margin: 200px; auto;
  width: 300px;
  height: 50px;
}

#website-title {
  color: white;
  letter-spacing: 7px;
  font-size: 60px;
  font-family: "Courier New"
}

