<center><h1 id="website-title">Thesaurus-Rex</h1>
<div class="box">
  <form class="search" method="post" action="/">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" name="word1" id="search" placeholder="First word..." />
    <br>
    <br>
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" name="word2" id="search" placeholder="Second word..." />
    <br>
    <br>
    <input type="submit" name="submit-word" value="Search!">
  </form>
</div>
